::ng-deep {
    .cal-open-day-events {
        color: #212529 !important;
        background-color: #fff !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}